<!DOCTYPE html>
<html>
  <head>
    <title>Google Vision - ExpressJS, jQuery, Materialize</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Google Vision Demo</a>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <form class="col m12" action="#" enctype="multipart/form-data" method="POST">
            <div class="input-field">
                <i class="material-icons prefix">insert_link</i>
                <input name="image_url" type="text" placeholder="ex : https://us-east-1.tchyn.io/snopes-production/uploads/2016/08/panda.jpg">
                <label>Input Image URL</label>
            </div>
            <div class="row">
                <div class="col m3">
                    <input id="LANDMARK_DETECTION" name="features[]" type="checkbox" value="LANDMARK_DETECTION">
                    <label for="LANDMARK_DETECTION">LANDMARK_DETECTION</label>
                    <input id="TEXT_DETECTION" name="features[]" type="checkbox" value="TEXT_DETECTION">
                    <label for="TEXT_DETECTION">TEXT_DETECTION</label>
                    <input id="SAFE_SEARCH_DETECTION" name="features[]" type="checkbox" value="SAFE_SEARCH_DETECTION">
                    <label for="SAFE_SEARCH_DETECTION">SAFE_SEARCH_DETECTION</label> 
                </div>
                <div class="col m3">
                    <input id="WEB_DETECTION" name="features[]" type="checkbox" value="WEB_DETECTION">
                    <label for="WEB_DETECTION">WEB_DETECTION</label>
                    <input id="LABEL_DETECTION" name="features[]" type="checkbox" value="LABEL_DETECTION">
                    <label for="LABEL_DETECTION">LABEL_DETECTION</label>
                    <input id="LOGO_DETECTION" name="features[]" type="checkbox" value="LOGO_DETECTION">
                    <label for="LOGO_DETECTION">LOGO_DETECTION</label> 
                </div>
                <div class="col m3">
                    <input id="IMAGE_PROPERTIES" name="features[]" type="checkbox" value="IMAGE_PROPERTIES">
                    <label for="IMAGE_PROPERTIES">IMAGE_PROPERTIES</label>
                    <input id="FACE_DETECTION" name="features[]" type="checkbox" value="FACE_DETECTION">
                    <label for="FACE_DETECTION">FACE_DETECTION</label>
                    <input id="DOCUMENT_TEXT_DETECTION" name="features[]" type="checkbox" value="DOCUMENT_TEXT_DETECTION" disabled>
                    <label for="DOCUMENT_TEXT_DETECTION">DOCUMENT_TEXT_DETECTION</label>
                </div>
                <div class="col m3">
                    <input id="CROP_HINTS" name="features[]" type="checkbox" value="CROP_HINTS" disabled>
                    <label for="CROP_HINTS">CROP_HINTS</label>
                </div>
            </div>
            <div class="section">
                <blockquote>DOCUMENT_TEXT_DETECTION and CROP_HINTS features coming soon! These two features not useful for me, but i will make it someday :)</blockquote>
            </div>
            <div class="section center">
                <button type="submit" id="process" class="waves-effect waves-light btn-large"><i class="material-icons left">visibility</i>Proceed</button>
            </div>
        </form>
      </div>
      <div class="row">
            <div class="col m12 center" id="loader" style="display:none;">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m12" id="result">
                <div class="card center" id="web-detection">
                    <div class="card-content">
                        <p><b>Web Detection</b> - Search the Internet for similar images.</p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#tab1">Web Entities</a></li>
                            <li class="tab"><a href="#tab2">Pages with Matched Images</a></li>
                            <li class="tab"><a href="#tab3">Fully Matched Images</a></li>
                            <li class="tab"><a href="#tab4">Partially Matched Images</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="tab1">
                            <ul class="collection" id="web-entities"></ul>
                        </div>
                        <div id="tab2">
                            <ul class="collection" id="web-pages-matched"></ul>
                        </div>
                        <div id="tab3">
                            <ul class="collection" id="web-fully-matched"></ul>
                        </div>
                        <div id="tab4">
                            <ul class="collection" id="web-partial-matched"></ul>
                        </div>
                    </div>
                </div>
                <div class="card center" id="label-detection">
                    <div class="card-content">
                        <p><b>Label Detection</b> - Detect broad sets of categories within an image, ranging from modes of transportation to animals.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div class="row" id="label-detection-result">
                            <div id="label-detection-template" class="col m6 offset-m3" style="display:none;">
                                <div class="left">Label</div>
                                <div class="right">Percent</div>
                                <div class="progress">
                                    <div class="determinate"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="safe-detection">
                    <div class="card-content center">
                        <p><b>Safe Search Detection</b> - Detect explicit content like adult content or violent content within an image.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <ul class="collection" id="safe-detection-result"></ul>
                    </div>
                </div>
                <div class="card" id="text-detection">
                    <div class="card-content center">
                        <p><b>Text Detection</b> - detects and extracts text from any image. For example, a photograph might contain a street sign or traffic sign. The JSON includes the entire extracted string, as well as individual words, and their bounding boxes.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <p id="text-detection-result"></p>
                    </div>
                </div>
                <div class="card" id="landmark-detection">
                    <div class="card-content center">
                        <p><b>Landmark Detection</b> - Detect popular natural and man-made structures within an image.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div class="row" id="landmark-detection-result"></div>
                    </div>
                </div>
                <div class="card" id="logo-detection">
                    <div class="card-content center">
                        <p><b>Logo Detection</b> - Detect popular product logos within an image.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <ul class="collection" id="logo-detection-result"></ul>
                    </div>
                </div>
                <div class="card" id="image-properties-detection">
                    <div class="card-content center">
                        <p><b>Image Properties Detection</b> - Detect general attributes of the image, such as dominant colors.</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div class="row" id="image-properties-result"></div>
                        <blockquote id="image-properties-picker"></blockquote>
                    </div>
                </div>
                <div class="card" id="face-detection">
                    <div class="card-content center">
                        <p><b>Face Detection</b> - Detect multiple faces within an image, along with the associated key facial attributes like emotional state or wearing headwear. Facial Recognition is not supported.</p>
                    </div>
                    <div class="card-content grey lighten-4 center">
                        <canvas id="face-detection-result"></canvas>
                        <div class="row" id="face-detection-description"></div>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <footer class="page-footer">    
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Google Vision Demo</h5>
                    <p class="grey-text text-lighten-4">Just a demo web to introduce google vision features. Made with ExpressJS (Node JS framework), jQuery, MaterializeCSS and <strike>fingers</strike>. Feel free to contact me if you need some "help" :)</p>
                    Fork : <a class="white-text" target="_blank" href="https://github.com/heryvandoro/google-vision-nodejs">https://github.com/heryvandoro/google-vision-nodejs</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 - <a class="white-text" target="_blank" href="https://www.facebook.com/vandoro">Hery Vandoro</a><a target="_blank" class="grey-text text-lighten-4 right" href="https://www.mahirkoding.com/">My Blog</a>
            </div>
        </div>
    </footer>
  </body>
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</html>